.container {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #272c34;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circler {
  position: relative;
  background-color: #75cee9;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 1px, 1px, 2px, 1px, rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.terra {
  position: absolute;
  top: 70%;
  left: 0px;
  width: 200px;
  height: 100px;
  background-color: #ddcd6f;
  border-radius: 0 0 150px 150px;
}

.sol {
  position: absolute;
  top: 10%;
  left: 40%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: yellow;
}
