* {
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  background-color: #3faf82;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50.5%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2%;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
}

.primeira-linha,
.segunda-linha,
.terceira-linha {
  position: absolute;
  width: 75px;
  height: 8px;
  background-color: #fff;
  top: 210px;
  left: 160px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.segunda-linha {
  top: 190px;
}

.terceira-linha {
  top: 170px;
}

.elemento:active {
  animation-name: girar;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
